h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff") format("woff"), url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
}
h1, h2, h3, h4 {
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1rem;
}

.body1, .body2, .body3 .body4 {
  font-weight: 400;
  font-style: normal;
}

.body1 {
  font-size: 1.1875rem;
  line-height: 1.875rem; /* 157.895% */
}

.body2 {
  font-size: 1rem;
  line-height: 1.625rem; /* 162.5% */
}

.body3 {
  font-size: 0.875rem;
  line-height: 1.375rem; /* 157.143% */
}

.body4 {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.f-bold {
  font-weight: 700;
}

.clr__bg {
  color: #F5F5FA;
}
.clr__bg-alt {
  color: #EDEDF7;
}
.clr__bg-sep {
  color: #E6E6F0;
}
.clr__text {
  color: #B3B3BA;
}
.clr__black {
  color: #000000;
}
.clr__white {
  color: #FFFFFF;
}
.clr__active {
  color: #006CCF;
}
.clr__regular {
  color: #24A3FF;
}
.clr__hover {
  color: #0085FF;
}
.clr__accent {
  color: #F0145A;
}

.frame__left {
  padding-right: 60px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  text-align: end;
}
@media screen and (max-width: 768px) {
  .frame__left {
    border-right: none;
    flex-direction: row;
    overflow-x: auto;
    text-align: start;
  }
}

.frame__right {
  margin-left: 60px;
}
@media screen and (max-width: 768px) {
  .frame__right {
    margin-left: 0;
  }
}

.frame1 {
  padding: 75px 0 75px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .frame1 {
    flex-direction: column;
  }
}

.first-section__header {
  display: grid;
  gap: 1.125rem;
  grid-template-areas: "logo info" "logo nav";
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .first-section__header {
    gap: 1.875rem;
    grid-template-columns: 1fr;
    grid-template-areas: "info" "logo" "nav";
  }
}

.header__logo {
  grid-area: logo;
}
.header__nav, .header__info {
  justify-self: end;
}
@media screen and (max-width: 768px) {
  .header__nav, .header__info {
    justify-self: start;
  }
}
.header__nav {
  grid-area: nav;
}
.header__info {
  grid-area: info;
}
.header__link {
  color: #FFFFFF;
  transition: color 0.3s ease;
}
.header__link:hover {
  color: #F0145A;
}

.btn-lang {
  padding: 0.3125rem 0.4375rem;
  border-radius: 0.5rem;
  color: #FFFFFF;
}
.btn-lang:checked {
  color: #FFFFFF;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: #FFFFFF;
  background-color: #F0145A;
  border-color: transparent;
}

.btn-check + .btn:hover {
  color: #F0145A;
  background-color: #FFFFFF;
  border-color: var(--bs-btn-border-color);
}

.circle {
  width: 0.375rem;
  height: 0.375rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 10px;
}

:root {
  --bs-font-sans-serif: "Montserrat", "Serif";
}

.section-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  min-height: 100vh;
  border-radius: 0 0 0.75rem 0.75rem;
  margin-bottom: 1.25rem;
  position: relative;
}
.section-gradient__shadow {
  position: absolute;
  height: 0.625rem;
  border-radius: 0 0 0.75rem 0.75rem;
}
.section-gradient__shadow--1 {
  bottom: -0.625rem;
  width: calc(100% - 2.5rem);
  background: #CACADB;
  left: 1.25rem;
}
.section-gradient__shadow--2 {
  bottom: -1.25rem;
  width: calc(100% - 5rem);
  background: #E7E7F2;
  left: 2.5rem;
}

.main-wrap {
  position: relative;
  min-height: 100vh;
}
.main-wrap__bg {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.main-wrap__obj {
  position: absolute;
  height: 100%;
}

.first-section {
  padding: 50px 0 30px 0;
  min-height: 100vh;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}