.title {
  gap: 10px;
}
.title__sub-a {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  gap: 0.125rem;
  color: #FFFFFF;
  stroke: #FFFFFF;
}
.title__sub-a:hover {
  color: #F0145A;
  stroke: #F0145A;
  transition: stroke, color 0.3s ease;
}
.title__sub-b {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  gap: 0.125rem;
  color: #24A3FF;
  stroke: #24A3FF;
}
.title__sub-b:hover {
  color: #F0145A;
  stroke: #F0145A;
  transition: stroke, color 0.3s ease;
}

.mb-30 {
  margin-bottom: 1.875rem;
}
.mb-60 {
  margin-bottom: 3.75rem;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1600px;
  }
}
.plus {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.plus__wrap {
  row-gap: 1.875rem;
}
.plus__img {
  padding: 0.875rem;
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  max-width: 5.75rem;
  width: 100%;
}
.plus__title {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff") format("woff"), url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
}
h1, h2, h3, h4 {
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1rem;
}

.body1, .body2, .body3 .body4 {
  font-weight: 400;
  font-style: normal;
}

.body1 {
  font-size: 1.1875rem;
  line-height: 1.875rem; /* 157.895% */
}

.body2 {
  font-size: 1rem;
  line-height: 1.625rem; /* 162.5% */
}

.body3 {
  font-size: 0.875rem;
  line-height: 1.375rem; /* 157.143% */
}

.body4 {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.f-bold {
  font-weight: 700;
}

.clr__m-regular {
  color: #323264;
}
.clr__m-alt {
  color: #46466E;
}
.clr__m-soft {
  color: #686887;
}
.clr__bg {
  color: #F5F5FA;
}
.clr__bg-alt {
  color: #EDEDF7;
}
.clr__bg-sep {
  color: #E6E6F0;
}
.clr__text {
  color: #B3B3BA;
}
.clr__black {
  color: #000000;
}
.clr__white {
  color: #FFFFFF;
}
.clr__active {
  color: #006CCF;
}
.clr__regular {
  color: #24A3FF;
}
.clr__hover {
  color: #0085FF;
}
.clr__accent {
  color: #F0145A;
}
.clr__grd--redrev {
  background-image: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clr__grd--red {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clr__grd--supersoft {
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  display: grid;
  grid-template-areas: "finfo company" "contacts contacts";
  justify-content: space-between;
  gap: 1.25rem;
}
@media screen and (max-width: 500px) {
  .footer {
    grid-template-areas: "finfo" "contacts" "company";
    justify-content: center;
    text-align: center;
    gap: 1.875rem;
  }
}
.footer__info {
  grid-area: finfo;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .footer__info {
    flex-direction: column;
    gap: 0.625rem;
  }
}
.footer__company {
  grid-area: company;
}
.footer__contacts {
  grid-area: contacts;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .footer__contacts {
    flex-direction: column;
    gap: 0.625rem;
  }
}

.news {
  display: flex;
  flex-direction: column;
}
.news__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 200px;
  width: 100%;
}
.news__title {
  border-radius: 0 0 0.5rem 0.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  padding: 1.875rem;
  background-color: #FFFFFF;
}
.news__border {
  padding-bottom: 0.9375rem;
  border-bottom: 0.25rem solid #E6E6F0;
}
.news__border-r {
  padding-bottom: 1.875rem;
  border-bottom: 0.125rem solid #E6E6F0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.75rem;
  overflow: hidden;
  max-width: 107.5rem;
  margin: 0 auto;
}
@media screen and (max-width: 1720px) {
  .table {
    border-radius: 0;
  }
}
@media screen and (max-width: 420px) {
  .table {
    height: 45rem;
    border-radius: 0;
    overflow: hidden;
  }
}
.table__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 7.5rem;
}
@media screen and (max-width: 768px) {
  .table__logo {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 420px) {
  .table__logo {
    width: 100%;
  }
}
.table__img {
  max-width: 100%;
  padding: 0.625rem;
}

.table-1 {
  background: #1C4280;
}
.table-2 {
  background: #143646;
}
.table-3 {
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
}
.table-4 {
  background: #9E4DC3;
}
.table-5 {
  background: #FD9339;
}
.table-6 {
  background: #E2E2E4;
}
.table-7 {
  background: #C71C36;
}
.table-8 {
  background: #DCF3F9;
}
.table-9 {
  background: #EAEAEA;
}
.table-10 {
  background: #282240;
}
.table-11 {
  background: #1D4568;
}
.table-12 {
  background: #000;
}

.main-info__title {
  margin-bottom: 1.75rem;
}
.main-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 1.875rem;
  border-left: 0.25rem solid #E6E6F0;
}
.main__img-team {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.achievements {
  background-color: #F5F5FA;
  padding: 1.875rem 0;
}

.ach__img {
  max-width: 100%;
  padding: 1.5625rem;
}
.ach__img-wrap {
  border-radius: 0.75rem;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-wrap {
  max-width: 1347px;
  margin: 0 auto;
  margin-bottom: 3.75rem;
}

.frame {
  justify-content: center;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
  .frame {
    flex-direction: column;
  }
}
.frame__left {
  padding: 14px 60px 14px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  white-space: nowrap;
  text-align: end;
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
  .frame__left {
    border-right: none;
    flex-direction: row;
    width: 100%;
    margin-bottom: 60px;
    overflow-x: auto;
  }
}
.frame__right {
  margin-left: 60px;
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
  .frame__right {
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    margin-left: 0;
    padding-top: 60px;
  }
}
.frame__btn {
  cursor: pointer;
}
.frame__btn:hover {
  transition: color 0.3s ease;
  color: #F0145A;
}
.frame__wrap {
  padding: 3.75rem 0 3.75rem 0;
}

.carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
}

.carousel-indicators {
  position: static;
}

.carousel__bottom, .carousel__top {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.carousel__title {
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  flex-grow: 1;
}
.carousel-wrap {
  background-color: #F5F5FA;
  display: flex;
  border-radius: 0.75rem;
}
@media screen and (max-width: 1000px) {
  .carousel-wrap {
    flex-direction: column;
  }
}
.carousel__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem 0 0 0.75rem;
}
@media screen and (max-width: 1000px) {
  .carousel__img {
    border-radius: 0.75rem 0.75rem 0 0;
  }
}
.carousel__img-wrap {
  min-height: 344px;
  flex: 0 0 400px;
  position: relative;
}

.first-section__header {
  display: grid;
  gap: 1.125rem;
  grid-template-areas: "logo info" "logo nav";
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .first-section__header {
    gap: 1.875rem;
    grid-template-columns: 1fr;
    grid-template-areas: "info" "logo" "nav";
  }
}
@media screen and (max-width: 500px) {
  .first-section__header {
    gap: 0.9375rem;
    grid-template-columns: 1fr;
    grid-template-areas: "info info" "logo nav";
  }
}

@media (max-width: 500px) {
  .logo {
    width: 70px;
  }
}

.header__logo {
  grid-area: logo;
  display: flex;
  gap: 10px;
}
.header__nav, .header__info {
  justify-self: end;
}
@media (max-width: 768px) {
  .header__nav, .header__info {
    justify-self: start;
  }
}
.header__nav {
  grid-area: nav;
}
.header__info {
  grid-area: info;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .header__info {
    width: calc(100% + 24px);
    justify-content: space-between;
    background-color: rgba(245, 245, 250, 0.2);
    position: relative;
    gap: 0.625rem;
    padding: 0.625rem 0.75rem;
    left: -12px;
  }
}
@media (max-width: 500px) {
  .header__info_light {
    width: calc(100% + 24px);
    justify-content: space-between;
    background-color: #F5F5FA;
    position: relative;
    gap: 0.625rem;
    padding: 0.625rem 0.75rem;
    left: -12px;
  }
}
.header__burger-btn {
  position: relative;
  display: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}
.header__burger-btn span {
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  left: 6px;
  background-color: #FFFFFF;
  transition: opacity 0.2s, transform 0.3s ease;
  will-change: transform;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-8px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(8px);
}
.header__burger-btn_light span {
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  left: 6px;
  background-color: #323264;
  transition: opacity 0.2s, transform 0.3s ease;
  will-change: transform;
}
.header__burger-btn_light span:nth-child(1) {
  transform: translateY(-8px);
}
.header__burger-btn_light span:nth-child(3) {
  transform: translateY(8px);
}

.menu__list {
  display: flex;
  gap: 0.9375rem;
}
.menu__link {
  padding-bottom: 3px;
  color: #FFFFFF;
  border-bottom: 2px solid transparent;
}
.menu__link:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.menu__link_a {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  color: #24A3FF;
}
.menu__link_a:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.menu__link_a_active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.header__nav.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header__nav.open .header__burger-btn span:nth-child(2) {
  transform: translateY(0) rotate(45deg);
  opacity: 0;
}
.header__nav.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

@media (max-width: 500px) {
  .header__burger-btn {
    display: block;
    position: relative;
    z-index: 2;
  }
  .menu {
    z-index: 1;
    position: absolute;
    right: -270px;
    top: 50px;
    width: 256px;
    padding: 52px 20px 20px 20px;
    background-color: #46466E;
    visibility: hidden;
  }
  .menu__list {
    display: block;
  }
  .menu__link, .menu__link_a {
    display: block;
    padding: 10px;
  }
  .menu_light {
    background-color: #EDEDF7;
  }
  .header__nav.open .menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    visibility: visible;
  }
}
.btn-lang {
  padding: 0.3125rem 0.4375rem;
  border-radius: 0.5rem;
  color: #B3B3BA;
}
.btn-lang:checked {
  color: #B3B3BA;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: #FFFFFF;
  background-color: #F0145A;
  border-color: transparent;
}

.btn-check + .btn:hover {
  color: #F0145A;
  background-color: #FFFFFF;
  border-color: var(--bs-btn-border-color);
}

.circle {
  width: 0.375rem;
  height: 0.375rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 10px;
}
@media screen and (max-width: 500px) {
  .circle {
    display: none;
  }
}

.bgc-grey {
  background-color: #B3B3BA;
}

@media screen and (max-width: 500px) {
  .nav__off {
    display: none;
  }
}

.btn-id:hover {
  transform: scale(1.25);
  background-color: #F0145A;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.slash {
  display: flex;
  gap: 4px;
  align-items: start;
}
.slash__img {
  width: 1.3125rem;
  height: 2.9375rem;
}
.slash__txt {
  color: #323264;
  font-family: Montserrat;
  font-size: 2.375rem;
}

@media (max-width: 500px) {
  .slash__img {
    width: 0.75rem;
    height: 1.625rem;
  }
  .slash__txt {
    color: #323264;
    font-family: Montserrat;
    font-size: 1.25rem;
  }
}
:root {
  --bs-font-sans-serif: "Montserrat", "Serif";
}

.body-wrap {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.section-gradient {
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  min-height: 100vh;
  border-radius: 0 0 0.75rem 0.75rem;
  margin-bottom: 1.25rem;
  position: relative;
}
.section-gradient__shadow {
  position: absolute;
  height: 0.625rem;
  border-radius: 0 0 0.75rem 0.75rem;
}
.section-gradient__shadow--1 {
  bottom: -0.625rem;
  width: calc(100% - 2.5rem);
  background: #CACADB;
  left: 1.25rem;
}
.section-gradient__shadow--2 {
  bottom: -1.25rem;
  width: calc(100% - 5rem);
  background: #E7E7F2;
  left: 2.5rem;
}

.main-wrap {
  position: relative;
  min-height: 100vh;
}
.main-wrap__bg {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.main-wrap__obj {
  position: absolute;
  height: 100%;
}

.first-section {
  padding: 50px 0 30px 0;
  min-height: 100vh;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .first-section {
    padding: 0 0 30px 0;
  }
}

.second-section {
  padding: 3.75rem 0 3.75rem;
  transition: padding 0.3s ease;
}
@media screen and (max-width: 1720px) {
  .second-section {
    padding: 3.75rem 0 0 0;
    transition: padding 0.3s ease;
  }
}

.thrid-section {
  padding: 1.875rem 0 1.875rem 0;
  background-color: #F5F5FA;
}

.section__about-us {
  padding: 3.125rem 0;
}
@media (max-width: 500px) {
  .section__about-us {
    padding: 0 0 3.125rem 0;
  }
}

.section__main {
  padding: 3.75rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}