.carousel-indicators [data-bs-target] {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background-color: $active-regular;
}

.carousel-indicators {
   position: static;
}

.carousel {
   &__bottom,
   &__top {
      display: flex;
      flex-direction: column;
      gap: toRem(6);
   }
   &__title {
      padding: toRem(30);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      flex-grow: 1;
   }
   &-wrap {
      background-color: $grey-bg;
      display: flex;
      border-radius: toRem(12);
      @media screen and (max-width: 1000px) {
         flex-direction: column;
      }
   }
   &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: toRem(12) 0 0 toRem(12);
      @media screen and (max-width: 1000px) {
         border-radius: toRem(12) toRem(12) 0 0;
      }
      &-wrap {
         min-height: 344px;
         flex: 0 0 400px;
         position: relative;
      }
   }
}
