.title {
   gap: 10px;
   &__sub-a {
      display: inline-flex; // *flex
      align-items: center;
      cursor: pointer;
      text-transform: uppercase;
      gap: toRem(2);
      color: $basic-white;
      stroke: $basic-white;
      &:hover {
         color: $accent;
         stroke: $accent;
         transition: stroke, color .3s ease;
      }
   }
   &__sub-b {
      display: inline-flex; // *flex
      align-items: center;
      cursor: pointer;
      text-transform: uppercase;
      gap: toRem(2);
      color: $active-regular;
      stroke: $active-regular;
      &:hover {
         color: $accent;
         stroke: $accent;
         transition: stroke, color .3s ease;
      }
   }
}

// *margin
.m {
   // todo_bottom
   &b {
      &-30 {
         margin-bottom: toRem(30);
      }
      &-60 {
         margin-bottom: toRem(60);
      }
   }
}