.first-section__header {
   display: grid;
   gap: toRem(18);
   grid-template-areas: 
   "logo info"
   "logo nav";
   justify-content: space-between;
   @media screen and (max-width: 768px) {
      gap: toRem(30);
      grid-template-columns: 1fr;
      grid-template-areas: 
      "info"
      "logo"
      "nav";
   }
   @media screen and (max-width: 400px) {
      gap: toRem(15);
      grid-template-columns: 1fr;
      grid-template-areas: 
      "info info"
      "logo nav";
   }
}

.logo {
   @media screen and (max-width: 400px) {
      width: 70px;
   }
}

.header {
   &__logo {
      grid-area: logo;
   }
   &__nav,
   &__info {
      justify-self: end;
      @media screen and (max-width: 768px) {
         justify-self: start;
      }
   }
   &__nav {
      grid-area: nav;
      @media screen and (max-width: 400px) {
         display: none;
      }
   }
   &__info {
      grid-area: info;
      display: flex;
      align-items: center;
      @media screen and (max-width: 400px) {
         width: 100%;
         justify-content: space-between;
         gap: toRem(10);
         flex-wrap: wrap;
         padding: toRem(10) 0;
         background: rgba(245, 245, 250, 0.20);
      }
   }
   &__link {
      color: $basic-white;
      transition: color .3s ease;
      &:hover {
         color: $accent;
      }
   }
}

// toggle-lang
.btn-lang {
   padding: toRem(5) toRem(7);
   border-radius: toRem(8);
   color: $basic-white;
   &:checked {
      color: $basic-white;
   }
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
   color: $basic-white;
   background-color: $accent;
   border-color: transparent;
}
.btn-check+.btn:hover {
   color: $accent;
   background-color: $basic-white;
   border-color: var(--bs-btn-border-color);
}

.circle {
   width: toRem(6);
   height: toRem(6);
   background-color: $basic-white;
   border-radius: 50%;
   margin: 10px;
   @media screen and (max-width: 400px) {
      display: none;
   }
}

.nav {
   &__off {
      @media screen and (max-width: 400px) {
         display: none;
      }
   }
}