// fonts-size
$fs-38: 38; //H1
$fs-30: 30; //H2
$fs-22: 22; //H3
$fs-19: 19; //body1
$fs-16: 16; //body2
$fs-14: 14; //body3
$fs-12: 12; //body4

// colors
   // accent
$accent: #F0145A;
   // main
$main-regular: #323264;
$main-alt: #46466E;
$main-soft: #686887;
   // grey
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-separator: #E6E6F0;
$grey-text: #B3B3BA;
   // active
$active-regular: #24A3FF;
$active-hover: #0085FF;
$active: #006CCF;
   // basic
$basic-black: #000000;
$basic-white: #FFFFFF;
   // shadows
$shadow-1: #CACADB;
$shadow-2: #E7E7F2;
